<H1>Complaint Management System Server</H1>

<ul>
	<LI><%= link_to 'Manage User Types', user_types_path %></LI>
	<LI><%= link_to 'Manage Complaint Types', complaint_types_path %></LI>
	<LI><%= link_to 'Manage Users', users_path %></LI>
	<LI><%= link_to 'User Log In', login_path %></LI>
</ul>